/*
0-600:          Phone
> - 900:        Tablet Portrait
> - 1200:       Tablet Landscape
[1200 - 1800]:  Normal Styles
1800+:          Big Desktops
*/
/* 
$breakpoint arguments:
phone, tab-port, tab-land, big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: transparent; }

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; }
  .container .ninja {
    height: 420px;
    width: 420px; }
    @media only screen and (max-width: 37.5em) {
      .container .ninja {
        height: 250px;
        width: 250px; } }
