/*
0-600:          Phone
> - 900:        Tablet Portrait
> - 1200:       Tablet Landscape
[1200 - 1800]:  Normal Styles
1800+:          Big Desktops
*/
/* 
$breakpoint arguments:
phone, tab-port, tab-land, big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(-45deg, #3d1472 0%, #3d1472 55%, #280a50 55%);
  height: 100vh;
  width: 100vw; }

::selection {
  background-color: transparent; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  font-size: 9rem;
  text-align: center;
  font-family: 'Fjalla One';
  line-height: 0.9;
  letter-spacing: 10px; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 5rem; } }

.heading-secondary {
  font-family: 'Nanum Brush Script';
  font-size: 4.2rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.7rem; } }

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; }
  .container .ninja {
    height: 420px;
    width: 420px; }
    @media only screen and (max-width: 37.5em) {
      .container .ninja {
        height: 250px;
        width: 250px; } }
  .container .throw-shuriken {
    height: 200px;
    width: 200px;
    position: absolute; }
